@model PlayerDashboardViewModel
@{
    ViewData["Title"] = "Playerdashboard";
}

<h1>Playerdashboard</h1>
<style>
    table{
        border-collapse:separate;
        border-spacing:30px;
    }
    table td,th{
        padding:30px;
    }
</style>
<h1>اطلاعات شخصی</h1>
<div>
    <table>
        <tr>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>ایمیل</th>
            <th>شماره موبایل</th>
            <td>نقش</td>
            <th>عملیات</th>
        </tr>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.LastName</td>
            <td>@Model.Email</td>
            <td>@Model.PhoneNumber</td>
            <td>
                @if(User.IsInRole("Player"))
                {
                    <div>بازیکن</div>
                }
            </td>
            <td>
                <a asp-action="EditPersonalInfo" asp-controller="PlayerDashboard">ویرایش اطلاعات شخصی</a>
            </td>
        </tr>
    </table>
</div>
<hr />
<h1>اجراهای شما</h1>
@{
    if (Model.PlayerShow != null && Model.PlayerShow.Count > 0)
    {
        <div>
            <table style="border-spacing:20px;border-collapse:separate;">
                <tr>
                    <th>نام اجرا</th>
                    <th>تاریخ اجرا</th>
                    <th>مربی های امتیاز دهنده</th>
                    <th>متوسط امتیاز</th>
                </tr>
                @foreach (var show in Model.PlayerShow)
                {
                    <tr style="width:100%;">
                        <td>@show.ShowTitle</td>
                        <td>@show.ShowDate</td>
                        @if (show.CoachNames != null && show.CoachNames.Count > 0)
                        {
                            <td>
                                @foreach (var coachname in show.CoachNames)
                                {
                                    <div>@coachname</div>
                                }
                            </td>
                        }
                        else
                        {
                            <td>هنوز مربی به اجرای شما رای نداده</td>
                        }
                        <td>
                            @if (show.AverageScore != -1)
                            {
                                @show.AverageScore
                            }
                            else
                            {
                                <div>هنوز نمره ایی برای اجرا شما ثبت نشده است</div>
                            }


                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <div>شما هیچ اجرایی ندارید</div>
    }
}