@model AddShowViewModel
@{
    ViewData["Title"] = "AddShow";
}

<h1>AddShow</h1>
@ViewBag.isadd
@ViewBag.Id
@* <form asp-action="AddShow" asp-controller="ShowManagement" asp-route-id="@ViewBag.Id"> *@
<form asp-action=@((ViewBag.isadd==1?"AddShow":"EditShow")) asp-controller="ShowManagement" asp-route-id=@((ViewBag.isadd==1?"":ViewBag.id))>
    <div asp-validation-summary="ModelOnly"></div>
    <br />
    @if (ViewBag.isadd == 0)
    {
        <input type="text" value="@ViewBag.Id" style="display:none" />
    }
    <label asp-for="Players"></label>
    @{
        if (Model.Players != null && Model.Players.Count != 0)
        {
            <select asp-for="SelectedPlayerID">
                @foreach (var items in Model.Players)
                {
                    if (Model.SelectedPlayerID == items.id)
                    {
                        <option value="@items.id" selected>@items.name</option>
                    }
                    else
                    {
                        <option value="@items.id">@items.name</option>
                    }
                }
            </select>
            <br />
        }
        else
        {
            <div>هیچ بازیکنی موجود نیست بنابراین امکان افزودن وجود ندارد.</div>
        }
    }

    <label asp-for="Title"></label>
    <input asp-for="Title" value="@(ViewBag.isadd==0?Model.Title:"")">
    <span asp-validation-for="Title"></span>
    <br />


    <label asp-for="DateTime"></label>
    <input asp-for="DateTime" value="@(ViewBag.isadd==0?Model.DateTime:"")">
    <span asp-validation-for="DateTime"></span>
    <br />

    <input type="submit" value=@(ViewBag.isadd==1?"افزودن":"ویرایش") />
</form>

