@model List<TeamManageViewModel>
@{
    ViewData["Title"] = "TeamManage";
}

<h1>TeamManage</h1>
<a asp-action="AddTeam" asp-controller="TeamManagement">افزودن تیم جدید</a>
<div>@ViewBag.massage</div>
@{
    if (Model != null && Model.Count > 0)
    {
        <table>
            <tr>
                <th>کد تیم</th>
                <th>نام تیم</th>
                <th>تعداد بازیکن</th>
                <th>مربی تیم</th>
                <th>عملیات</th>
            </tr>
            @foreach (var team in Model)
            {
                <tr>
                    <td>@team.TeamId</td>
                    <td>@team.TeamName</td>
                    <td>@team.PlayerCount</td>
                    <td>
                        @if (team.CoachName == null)
                        {
                            <a>تیم بدون مربی است لطفا یک مربی انتخاب کنید</a>
                        }
                        else
                        {
                            @team.CoachName
                        }
                    </td>
                    <td>
                        <a asp-action="DeleteTeam" asp-controller="TeamManagement" asp-route-teamid="@team.TeamId">حذف</a>
                        <a asp-action="EditTeam" asp-controller="TeamManagement" asp-route-teamid="@team.TeamId">ویرایش</a>
                        <a></a>
                    </td>
                </tr>

            }
        </table>
    }
    else
    {
        <div>هیچ تیمی وجود ندارد</div>
    }
}